@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(rgb(47,150,163), rgb(48,62,143)) no-repeat;
        font-family: 'Josefin Sans', sans-serif;
        color:#fff;
}
.location, .temperature{
    height:17vh;
    width: 50%;
    display: flex;
    /*displays an element as a block level flex container*/
    justify-content: space-around;
    /*items are placed with space around*/
    align-items:center;
}
.location{
    cursor: default;
}
.location-timezone{
    margin: 5%;
    font-size:4em;
}
.temperature{
    flex-direction: column;
}
.degree-section{
    display: flex;
    align-items:center;
    cursor: pointer;
}
.degree-section h2{
    font-size:40px;
}
.degree-section span{
    margin:10px;
    font-size:30px;
}
.tempeature-description{
    cursor: default;
}
hr{
    width:100vh;
    height:4%;
    background: #fff;
    border: none;
}